.all {
    font-family: 'Zilla Slab', serif;
    /* min-height: 90vh; */
    /* max-height: 20vw; */
}
.imag {
    
    
    /* margin-left: 10px; */
    /* padding-left: 10vh;
     */
    /* padding-left: 2vh; */
    padding-top: 2vh;
    padding-left: 2vh;
    padding-bottom: 2vh;
    width: 50%;
    height:50%;
    font-family: 'Zilla Slab', serif;
}
.helper {
    min-height: 20vh;
}
.helper1 {
    min-height: 20vh;
}
.textMiddle {
    /* margin:auto; */
    text-align: center;
    margin-bottom: 3vh;
    margin-left: 3%;
    margin-right: 3%;
}
.sectionrk2 {
   /* margin-top: -25vw; */
   background-color: #EBE6D9;
    font-family: sans-serif, serif;
    /* width: 65%; */
    min-width: 60%;
    height: 40%;
    /* margin-top: -15%; */
    /* align-items: center; */
    margin:auto;
    /* font-weight: bold; */
    /* padding-top: 2vh;
    padding-bottom: 2vh; */
    display: flex;
    align-items: center;
    outline: 1px solid rgb(215,205,197);
    padding-inline: 2%;
    /* min-height: 100vh; */
    margin-bottom: 0.35%;
    /* margin-top: 2%; */
    padding-top: 2% ;  
    padding-bottom: 2%;
}
.sectionz1 {
    background-color: #EBE6D9;
    font-family: 'Zilla Slab', serif;
    width: 60vw;
    /* align-items: center; */
    margin:auto;
    /* font-weight: bold; */
    /* padding-top: 2vh;
    padding-bottom: 2vh; */
    display: flex;
    align-items: center;
    outline: 1px solid rgb(215,205,197);
    padding-inline: 2vh;
    /* min-height: 100vh; */
    margin-bottom: 0.35%;
}
.imag {
    margin-right: 2%;
}
.text {
    /* margin-left: 4vh;
     */
    margin: auto;
    /* text-align: end; */
    /* padding-bottom: -15vh; */
    /* position: absolute; */
    /* margin-right: 15vh; */
    /* margin-top: -15vh; */
    /* place-content:initial; */
}

.buttonz {
    margin: auto;
    /* color: pink; */
}

@media screen and (max-width:800px) {
    .sectionrk2 {
        /* width: 90vw; */
        /* padding-top: 3%; */
        height: 100%;
        margin: auto;
        display: flex;
        margin: auto;
        padding-top: 8%;
        display: block;

    }
    .content {
        /* margin   -left: 4vh;
         */
        margin: auto;
        padding-top: 8%;
        display: block;
        /* text-align: end; */
        /* padding-bottom: -15vh; */
        /* position: absolute; */
        /* margin-right: 15vh; */
        /* margin-top: -15vh; */
        /* place-content:initial; */
    }

}
.container {
    margin-top: -15%;
}