.all {
    font-family: sans-serif, serif;
    /* min-height: 90vh; */
    /* height: 100%; */
}
.imag {
    
    
    /* margin-left: 10px; */
    /* padding-left: 10vh;
     */
    /* padding-left: 2vh; */
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: 50%;
    height:50%;
    font-family: sans-serif, serif;
}
.helper {
    min-height: 30%;
}
.helper1 {
    min-height: 25%;
}


.section1 {
    background-color: #EBE6D9;
    font-family: sans-serif, serif;
    /* width: 65%; */
    /* min-width: 60%; */
    /* height: 40%; */
    /* align-items: center; */
    /* margin:auto; */
    /* font-weight: bold; */
    /* padding-top: 2vh;
    padding-bottom: 2vh; */
    /* display: flex; */
    margin: 5px;
    /* align-items: center; */
    outline: 1px solid rgb(215,205,197);
    padding-inline: 2vh;
    /* min-height: 100vh; */
    margin-bottom: 0.35%;
    
}

.container {
    margin-top: -5%;
}
