.footer{
    margin-top: 1rem;
    padding: 1rem;
    /* background-color: rgb(249,206,231); */
    background-color: #F6F3E7;
    /* margin: auto; */
    /* position: fixed; */
    font-family: 'Zilla Slab', serif;
    text-align: center;
    bottom: 0;
    left: 0;
    width: 100%;
    line-height: 10px;
    /* min-height: 20vh; */
    /* margin-inline: 0 */
  }