
.all {
    font-family: sans-serif, serif;
}
.imag {
    
    
    /* margin-left: 10px; */
    /* padding-left: 10vh;
     */
    /* padding-left: 2vh; */
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-family: sans-serif, serif;
    /* scale:1.2; */
    /* transform: scale(1.2); */
}
/* .container {
    max-height: 100%;
    height: 20%;
} */
/* @media (min-width: 992px) {
    col {
        width: 200%; 
    }

    col-md-1-5 {
        width: 66.666666666%; 
    }
} */

.row {
    display: flex;
    
}
.sectionrk1 {
    background-color: #EBE6D9;
    font-family: sans-serif, serif;
    /* width: 65%; */
    min-width: 60%;
    height: 40%;
    /* margin-top: -15%; */
    /* align-items: center; */
    margin:auto;
    /* font-weight: bold; */
    /* padding-top: 2vh;
    padding-bottom: 2vh; */
    display: flex;
    align-items: center;
    outline: 1px solid rgb(215,205,197);
    padding-inline: 2%;
    /* min-height: 100vh; */
    margin-bottom: 0.35%;
    /* margin-top: 2%; */
    padding-top: 2% ;  
    padding-bottom: 2%;
}
.col-md-3half {
    background-color: #EBE6D9;
    font-family: sans-serif, serif;
    outline: 1px solid rgb(215,205,197);
    padding: 40px 0;
    /* margin: 20%; */
    width: 15%;
    outline: 1px solid rgb(215,205,197);
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
    /* padding: 20%; */
    /* padding-right: 20vw; */
    /* max-width: 10vw; */
}
.col-sm {
    /* margin-block-start: 10vw; */
    /* padding-top: 2%; */
    background-color: #EBE6D9;
    font-family: sans-serif, serif;
    /* width: 8%; */
    /* height:100%; */
    /* padding: 3%; */
    text-align: center;
    margin: 1%;
    padding: 70px 0;
    min-height: 15vw;
    /* max-height: 20vw; */

    


    
    /* min-height: 0; */
    /* margin-left: 0; */
    /* text-align: center; */
    /* padding-top: 20%; */
    /* align-items: center; */
    /* margin:auto; */
    /* float:left; */
    /* margin-bottom: 100%; */
    /* font-weight: bold; */
    /* padding-top: 2vh;
    padding-bottom: 2vh; */
    /* display: flex; */
    /* align-items: center; */
    outline: 1px solid rgb(215,205,197);
    /* float: left; */
}
.col-sm:hover p {
    /* transform: scaleX(1.5); */
    /* transform: scaleY(1.5); */
    transform-origin: bottom;
    font-weight: bold;
}
.col-sm:hover h3 {
    /* transform: scaleX(1.5); */
    /* transform: scaleY(1.5); */
    transform-origin: bottom;
    font-weight: bold;
}
.col-sm:hover h1 {
    /* transform: scaleX(1.5); */
    /* transform: scaleY(1.5); */
    transform-origin: bottom;
    font-weight: bold;
}
.about {
    outline: 1px solid rgb(215,205,197);
    background-color: #EBE6D9;
    font-family: sans-serif, serif;
    width: 15%;
    height: 10%; 
    /* align-items: center; */
    text-align: center;
    margin-top: 3vw;
    /* margin: auto; */
    /* float: left; */
    float: none;
    padding-top: 5vh;
    margin-left: 20vh;
    padding-inline: 2vh;
    flex-wrap: wrap;
    /* padding-top: 2vh;
    padding-bottom: 2vh; */
    /* display: flex; */
    /* align-items: baseline; */
}
.about:hover p {
    /* transform: scaleX(1.5); */
    /* transform: scaleY(1.5); */
    transform-origin: bottom;
    font-weight: bold;
}
.about:hover h3 {
    /* transform: scaleX(1.5); */
    /* transform: scaleY(1.5); */
    transform-origin: bottom;
    font-weight: bold;
}

.section3 {
    outline: 1px solid rgb(215,205,197);
    background-color: #EBE6D9;
    font-family: sans-serif, serif;
    /* width: 15%; */
    min-height: 15%;
    margin-top: 3vw;
    /* align-items: center; */
    text-align: center;
    /* float: right; */
    margin-right: 20vh;
    flex-wrap: wrap;
    /* margin: auto; */
    padding-top: 5vh;
    padding-inline: 2vh;
    float: none;
}
.col:hover p {
    /* transform: scaleX(1.5); */
    /* transform: scaleY(1.5); */
    /* transform-origin: bottom; */
    font-weight: bold;
}
.col:hover h3 {
    /* transform: scaleX(1.5); */
    /* transform: scaleY(1.5); */
    /* transform-origin: bottom; */
    font-weight: bold;
}

.section4 {
    outline: 1px solid rgb(215,205,197);
    background-color: #EBE6D9;
    font-family: sans-serif, serif;
    width: 15%;
    height: 10%;
    /* align-items: center; */
    text-align: center;
    /* float: center; */
    /* margin-top: 20vw; */
    /* margin-top: 30%; */
    /* margin: auto; */
    margin-left: 27.5vw;
    margin-top: 3.3vw;
    float:none;
    padding-top: 5vh;
    padding-inline: 2vh;
}

.section4:hover p {
    
    /* transform: scaleX(1.5); */
    /* transform: scaleY(1.5); */
    transform-origin: bottom;
    font-weight: bold;
}
.section4:hover h3 {
    /* transform: scaleX(1.5); */
    /* transform: scaleY(1.5); */
    transform-origin: bottom;
    font-weight: bold;
}
.text {
    /* margin-left: 4vh;
     */
    margin: 0;
    text-align: center;
    /* min-height: 1px; */
    /* padding-bottom: -15vh; */
    /* position: absolute; */
    /* margin-right: 15vh; */
    /* margin-top: -15vh; */
    /* place-content:initial; */
}

.contentz {
    min-height: 1px;
    margin: auto;
    text-align: center;
    min-inline-size: 0;
    line-height: 1;
    /* display: flex; */

    /* margin-bottom: -1em; */
      /* margin-top: 0em; */
      /* padding: 0; */

   
}
.helper-poo {
    height: -80%;
}
.container {
    display: inline-block;
    margin-top: -15%;
}

@media screen and (max-width:1000px) {
    /* .all {
        /* max-height: 100%; */
        /* height: 100%; */
    .imag2 {
        padding: 2vh;
        padding-bottom: 2vh;
        font-family: sans-serif, serif;
        /* size: 50vw; */
        width: 100%;
        min-height: auto;
        /* height: 100%; */
        /* margin: auto;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        margin-right: 0;
        padding-top: 0;
        padding-bottom: 0;
        padding-inline: 0;
        display: block;
        float: none; */
        /* scale: transform(1.5); */
        /* resize: both; */
        /* resize-mode: contain; */
        /* margin-left: 2px; */
    }
    .sectionrk1 {
        width: 107%;
        height: 100%;
        margin: auto;
        padding-bottom: 2%;
        outline: 1px solid rgb(215,205,197);
        background-color: #EBE6D9;
        /* margin-bottom: 0.35%; */
        display: block;
        /* margin-right: 200vw; */
        /* margin-left: 10%; */
    }
    .col-sm {
        width: 100%;
        height: 100%;
        margin: 4%;
        outline: 1px solid rgb(215,205,197);
        background-color: #EBE6D9;
        font-family: sans-serif, serif;
    }
    .about {
        width: 100%;
        height: 100%;
        margin: auto;
        margin-top: 3vw;
        margin-bottom: 3vw;
        /* margin-left: 0; */
        /* margin-right: 0; */
        padding-top: 5vh;
        padding-inline: 2vh;
        display: block;
        float: none;
    }
    .section3 {
        width: 100%;
        height: 100%;
        margin: auto;
        margin-top: 3vw;
        margin-bottom: 3vw;
        margin-left: 0;
        margin-right: 0;
        padding-top: 5vh;
        padding-inline: 2vh;
        display: block;
    }
    .section4 {
        width: 100%;
        height: 100%;
        margin: auto;
        margin-top: 3vw;
        margin-bottom: 3vw;
        margin-left: 0;
        margin-right: 0;
        padding-top: 5vh;
        padding-inline: 2vh;
    }
    .text {
        margin: 0;
        text-align: center;
        min-height: 2px;
        padding-bottom: -15vh;
        position: absolute;
        margin-right: 15vh;
        margin-top: -15vh;
        place-content:initial;
    }
    .contentz {
        min-height: 2px;
        margin: auto;
        /* text-align: center; */
        /* min-inline-size: 0; */
        line-height: 1;
        margin-bottom: 1em;
        margin-top: 0em;
        padding: 0;
        background-color: #EBE6D9;
    }
    .helper-poo {
        height: 80vw;
    }
}


.clearfix::after, .clearfix::before{
  content: "";
  clear: both;
  display: table;
}
