.social-container {
    /* background: rgb(187, 169, 169); */
    /* padding: 25px 50px; */
  }
  .social {
    margin: 0 1rem;
    transition: transform 250ms;
    display: inline-block;
    

  }
  .linkedin {
    color: #473B31;
    margin: 2vh;
  }
  .social:hover {
    transform: translateY(-2px);
  }
  .youtube {
    color: #473B31;
    /* margin: 10vh; */
  }
  
  .facebook {
    color: #473B31;
    margin: 2vh;
  }
  
  .twitter {
    color: #473B31;
    margin: 2vh;
  }
  
  .instagram {
    color: #473B31;
    margin: 2vh;
  }