.App {
  text-align: center;
 
}
.background {
  /* background-color: white; */
  background-image: url("https://img.freepik.com/free-photo/neutral-abstract-texture-simple-background_53876-104002.jpg?w=2000");
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-fill: rgb(248, 248, 248); */
  min-height: 100vh;
  min-width: 100vh;
  /* backgroundRepeat:"no-repeat";
  backgroundSize:"contain"; */
  margin: 0px;
  padding: 0px;
  /* fill entire screen with rgb(253,22,242) */

  

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}


@media all and (max-width:800px) {
  .background {
    background-image: url("https://img.freepik.com/free-photo/neutral-abstract-texture-simple-background_53876-104002.jpg?w=2000");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    min-width: 20vh;
    margin: 0px;
    padding: 0px;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
