body {
  margin: 0;
  font-family: 'Zilla Slab', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(251, 251, 251);
}

code {
  font-family: 'Zilla Slab', serif;
    
}
